*{
    background-color: rgb(161, 205, 229);
}

.descripcion {
    text-align: center;
}

.descripcion h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 226, 138);
}

.descripcion img{
    width: 20%;
}

.descripcion p{
    width: 60%;
    margin: auto;
    font-size: 1.8em;
    font-family: 'Times New Roman';
}

.boton {
    text-align: center;
    background-color: rgb(144, 214, 58);
    
}

.boton a{
    background-color: rgb(192, 30, 114);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.4em;
    padding: 10px 20px;
}
footer {
    background-color: #f8f9fa; /* Color de fondo opcional */
    padding: 10px; /* Espaciado alrededor del contenido */
}

footer p {
    color: #100d01; /* Color amarillo fuerte para el texto del párrafo */
    font-weight: bold; /* Opcional: hace que el texto sea más grueso */
}

footer ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding predeterminado */
}

footer ul li {
    margin: 5px 0; /* Espaciado entre los elementos de la lista */
}

footer a {
    color: #080702; /* Color amarillo fuerte para los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

footer a:hover {
    text-decoration: underline; /* Subraya al pasar el mouse sobre el enlace */
}

/*
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}*/
